.tic-toe{
    height:390px;
    background-color: gray;
    display: grid;
    grid-template-columns: 140px 140px 400px;
}

.tile-shelf {
    padding: 10px;
    display: grid;
    grid-auto-rows: 60px;
}

.animation, .cursor{
    z-index: 1000 !important;
    position: relative;
    height: 0;
}

.animation>div{
    animation: annimationInner 0.75s;
}

.cursor>div {
box-shadow: 3px 3px 2px black;
transform: translate(-5px, -5px);
}

.grid-line-horizantal {
    position: absolute;
    background-color: black;
    width: 360px;
    height: 5px;
}.grid-line-vertical {
    position: absolute;
    background-color: black;
    width: 5px;
    height: 360px;
}

@keyframes annimationInner{
    25%, 75% {box-shadow: 3px 3px 2px black;
    transform: translate(-5px, -5px);}
}